.loader2 {
  margin: 0 0 2em;
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: #ff6700;
}

.gh-banner {
  position: absolute;
  top: 0;
  right: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 22px;
}
.wrapper {
  margin-bottom: 60px;
}
